*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Helvetica, sans-serif;
}
body{
    background-color:#2c2c2c;

}
h2{
    margin-bottom: 25px;
}
/*to do container*/
#main-container{
    background-color: #242424;
    position: relative;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: 5vh;

}

/* add container */
#add-container{
    margin-bottom:20px ;
    padding-bottom: 20px;
    

}
#add-container input, #add-container button{
    padding: 10px;
    background-color: #393939;
    border: none;
    width: 80%;
    display: inline-block;
}
#add-container button{
    width: 18%;
    cursor: pointer;
    transition: 1s;

}
#add-container button i {
    color: #ff7066;
    vertical-align: middle;
    font-size: 1.1em;
    
}
#add-container button:hover{
    background-color: #ff7066 ;
}
#add-container button:hover>i{
    color: #242424;
}

/*task container*/

.task{
    
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #444;
    position: relative;


}
.task i{
    vertical-align: middle;
    font-size: 1.3em;
}

.hide{
    display: none ;
}


.task:hover .trash {
    display: block; /* Exibe o ícone quando a tarefa é 'hovered' */
    cursor: pointer;
}

/*check icon*/
.task .check{
    border-radius: 50%;
    border: 1px solid #444;
    padding: 7px;
    margin-right: 10px;
    cursor:pointer;
}
.task .check.done{
    color: #0dd657 !important;
    border-color: #0dd657;
}

.task .check:hover{
    color: #ff7066 !important;
    border-color:#ff7066  !important;
}
.task .trash:hover{
    color: #ff7066  !important;
}
.task .trash{
    position: absolute;
    right: 0px;
    top: 10px;
    cursor: pointer;
    display: none;
    
}

#empty-tasks{
    text-align: center;
}

/*mobile*/
@media (orientation: portrait){
   
    h2{
        text-align: center;
    }
    #main-container{
        max-width: 100%;
        margin-top: 0;

    }

    .task .trash{
        display: none;
    }
}
